@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
@import '~toastr/build/toastr.min.css';

body {
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.icon-big {
  font-size: 4rem !important;
}

.grid-match-heigth div {
  height: 100%;
}

.form-switch .form-check-input {
  z-index: 0 !important;
}
